body{
margin:0;
font-family:Arial;
background:#050814;
color:white;
overflow-x:hidden;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 30px;

background:rgba(0,0,0,.5);

backdrop-filter:blur(10px);

position:sticky;
top:0;

z-index:100;

}

.titulo{

display:flex;
align-items:center;

gap:10px;

}

.logo{

width:50px;
height:50px;

border-radius:10px;

}

.acciones{

display:flex;
align-items:center;
gap:15px;

}

#buscar{

padding:10px;

border:none;

border-radius:10px;

background:#111827;

color:white;

}

.carrito{

padding:12px 18px;

background:rgba(59,130,246,.3);

border-radius:15px;

cursor:pointer;

}

/* PRODUCTOS */

.grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

padding:20px;

}

.card{

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.1);

border-radius:15px;

padding:10px;

text-align:center;

backdrop-filter:blur(10px);

transition:.3s;

max-width:280px;

margin:auto;

}

.card:hover{

transform:translateY(-8px);

}

.card img{

width:100%;
height:180px;

object-fit:cover;

border-radius:10px;

cursor:pointer;

display:block;

}

.card h3{

font-size:22px;

}

.card p{

color:#ddd;

}

.btn{

width:100%;

padding:10px;

margin-top:6px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:14px;

}

.cart{

background:#f59e0b;
color:white;

}

.buy{

background:#2563eb;
color:white;

}

.whatsapp{

background:#25D366;
color:white;

}

.panelCarrito{

display:none;

position:fixed;

right:20px;
top:90px;

width:300px;

padding:20px;

background:#111827;

border-radius:20px;

z-index:1000;

}

.modal{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.85);

justify-content:center;
align-items:center;

}

.modal-content{

width:350px;

background:#111827;

padding:20px;

border-radius:20px;

}

.modal-content img{

width:100%;
border-radius:15px;

}

.cerrar{

cursor:pointer;
float:right;

}
.finalizar{

width:100%;

padding:12px;

margin-top:15px;

border:none;

border-radius:10px;

cursor:pointer;

background:#9333ea;

color:white;

font-size:15px;

font-weight:bold;

transition:.3s;

}

.finalizar:hover{

transform:scale(1.03);

}